<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
	<system.webServer>
		<directoryBrowse enabled="true"/>
		<httpCors allowHeaders="Content-type,Foo,Bar" exposeHeaders="Hoge,Page">
			<allowOrigins>
				<add origin="http://localhost.ms.com:90"/>
				<add origin="http://friendface.com"/>
			</allowOrigins>
			<resources>
				<add path="/friends.aspx" exposeHeaders="Snuh" />
				<add path="/messages.aspx" allowHeaders="Baz" allowMethods="GET,PUT,WIBBLE,BANG"/>
			</resources>
		</httpCors>
	</system.webServer>

</configuration>
